{% extends "base.html" %}
{% block content %}
<section id="content">

	<div class="page-name background-bg page-name-bg">
		<div class="overlay">
			<div class="container">
				<h2 class="page-title m0">
					Home
				</h2>
				<div class="page-location">
					<a href="../">Home</a> <span> Home </span>
				</div>
			</div><!-- /.container -->
		</div><!-- /.overlay -->
	</div><!-- /.page-name -->



	<section id="team"> 
		<div id="contents"> 
			<div class="container section-padding"> 
				

        <section id="success-story">		
			<div class="success-story background-bg"> 
				<div class="overlay subsection-padding"> 
								<h2 class="title">
									ADAPTEX
								</h2>
								
								<img src="pages/images/home/ADAPTEX.png" alt="project overview">
								<a href="pages/images/home/ADAPTEX.png" class="boxer"><span class="center"><br>Fig: Software components and their dependency and connection to data centers and user communities.<br><br><br></span></a>
								
								<p> 
									The upcoming exascale computer architectures open up new possibilities for detailed process descriptions in Earth system models.
									With increasing computer power the requirements for algorithms, software quality and scalability also grow.
									The numerical solution of the equations on a uniformly high-resolution grid breaks the limits of the largest available computers, 
									e.g. currently for climate-chemistry simulations with horizontal scales less than 1km.
									Since the information content of many model variables strongly depends on local and 
									regional processes, time-varying (dynamic) adaptive meshes can support a similar accuracy as a static grid with
									significantly lower computational costs and storage requirements.
									In addition, the efficient use of current petascale and future exascale computers requires a heterogeneous approach that takes 
									advantage of massively parallel and power-efficient GPUs.
								 </p>
								 
								 <p>
									In ADAPTEX (ADAPtive Earth system modelling with strongly reduced computation time for EXascale-supercomputers) we develop a generally usable open source software framework for exascale-capable 
									flow simulations (CFD) for applications in Earth system modeling on dynamic adaptive meshes.
									We achieve this by merging existing, individually specialized HPC software libraries (Trixi.jl, t8code and Multiwave) 
									<!-- TODO: Links to Trixi and t8code, What is the correct name for Multiwave? also add Link to it -->									
									and expand them to heterogeneous computer architectures of 
									the exascale performance class.
									ADAPTEX will increase the scalability of current and future CFD applications, the modeled 
									spatial resolution and the accuracy, while also increasing the resource efficiency.
									The developed technologies will be implemented directly in a commercial flood simulation code (HYDRO-AS), in a global chemistry-climate model (MESSy), 
									and atmospheric Lagrangian transport simulations (MPTRAC), as well as a shallow water simulation tool for overland flow (SERGHEI-SWE). 
									<!-- TODO: add links to software -->
									Their combined performance will be demonstrated on Tier-0 high-performance computers.
								</p>

								 <p> 
									We achieve these goals by combining 
									(a) highly efficient and extreme scalable methods of tree-based dynamic adaptive mesh management (AMR) for general element shapes, 
									(b) extremely scalable modern Discontinuous Galerkin (DG) methods for solving compressible viscous gas flows, as well as 
									(c) multiscale-based adaptive strategies and extensions of these technologies to heterogeneous computer architectures.
								 </p>
								 
								  <p>
									ADAPTEX is funded by German Federal Ministry of Education and Research (BMBF) within the SCALEXA Initiative and supervised by VDI/VDE-IT GmbH.
									The involved project participants are DLR-SC (Software Technology), DLR-PA (Atmospheric Physics), Jülich Supercomputing Center,
									University of Cologne (Gregor Gassner), RWTH Aachen (Siegfried Müller), Hydrotec GmbH.
									(Associated: Michael Schlottke-Lakemper (RWTH Aachen))

								 </p>

		</section><!-- /#success-story -->
    
    <section id="news" class="news row section-padding pb0">
				<!-- <div class="row"> -->
					<div class="col-md-9">
						<div class="blog-page"> 

							{% for article in articles_page.object_list %}

							<article class="type-post single-news single-post">
								{% if article.image %} 
									<div class="post-thumbnail">
										<img src="{{ SITEURL }}/images/{{ article.image }}" alt="Event Post Thumbnail Image">   
									</div><!-- /.post-thumbnail --> 	
								{% endif %}
										 

								<h2 class="post-title">
									<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
								</h2> 

								<footer class="entry-meta">
									<span class="author">
									{% for author in article.authors %}
										<a href="{{ SITEURL }}/{{ author.url }}" rel="author">
											<i class="fa fa-user"></i>
											{{ author }}
										</a> 
									{% endfor %}
									</span>
									<span class="entry-date">
										<i class="fa fa-calendar-o"></i>
										<span class="date">{{ article.locale_date }}</span>

									</span>
									<span class="comments-link">
										<a href="{{ SITEURL }}/{{ article.url }}" rel="link">
											<i class="fa fa-link"></i>
											Permalink
										</a>
									</span>
									<!--
									<span class="comments-link">
										<i class="fa fa-comment-o"></i>
										<a href="#" title="comment on Saving Polar Bears" >3 Comments </a>
									</span>
									-->
									{% if article.category %} 
										<span class="cat-links">
											<i class="fa fa-folder-o"></i>
											<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
										</span>
									{% endif %}

									{% if article.tags %} 
										<span class="cat-links">
											<i class="fa fa-tags"></i>
											{% for tag in article.tags %}
												<a href="{{ SITEURL }}/{{ tag.url }}" rel="category tag">{{ tag }}</a>,
											{% endfor %}
										</span>
									{% endif %}
										


								</footer><!-- /.entry-meta --> 
								<div class="entry"> 
									<p>
										{{ article.summary }}  
								</div><!-- /.entry --> 
								<div class="btn-container">
									<a href="{{ SITEURL }}/{{ article.url }}" class="read-more">
										Learn more <i class="fa fa-arrow-circle-o-right"></i>
									</a>
								</div>

							</article> 
							{% endfor %}



							<nav class="pagination paging-navigation" role="navigation">
								{% if articles_page.has_previous() %}
								{% set num = articles_page.previous_page_number() %}
	    							<a class="prev page-numbers" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html"><i class="fa fa-angle-double-left"></i></a>
								{% else %}
	    							<a class="prev disabled" href="#"><i class="fa fa-angle-double-left"></i></a>
								{% endif %}

								{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
	    							<a class="page-numbers {{ 'active' if num == articles_page.number else '' }}" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a>
								{% endfor %}

								{% if articles_page.has_next() %}
	    							<a class="next page-numbers" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" title="Next"><i class="fa fa-angle-double-right"></i></a>
								{% else %}
							    	<a class="next disabled" href="#"><i class="fa fa-angle-double-right"></i></a>
								{% endif %}
							</nav><!-- /.paging-navigation -->




						</div><!-- /.blog-page -->


					</div><!-- /.col-md-9 -->

			<!--	</div><!-- /.row --> 
			</section><!-- /.news -->
    
    
			</div><!-- /.container -->
		</div>
	</section><!-- /#team -->

</section><!-- /#content -->
{% endblock content %}
